@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    scroll-behavior: smooth;
    background-color: #000000;
  }
  
  body {
    @apply bg-black text-white antialiased selection:bg-white selection:text-black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
